.footer-player-page {
	height: 80px;
	box-sizing: border-box;
	padding: 4px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-title {
		width: 18%;
		display: flex;
		align-items: center;
		&-name {
			padding-left: 10px;
			flex: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}
	&-progress {
		flex: 1;
		box-sizing: border-box;
		padding: 0 20px;
	}
	&-menu {
		width: 18%;
		height: 100%;
		display: flex;
		align-items: center;
		&-volume {
			width: 10%;
			height: 100%;
			display: flex;
			align-items: center;
			// &-ipt {
			// 	-webkit-appearance: none; /* 隐藏默认的样式 */
			// 	width: 100%; /* 设置宽度 */
			// 	height: 10px; /* 设置高度 */
			// 	border-radius: 5px; /* 设置圆角 */
			// 	background: #ddd; /* 设置背景 */
			// 	outline: none; /* 去掉外边框 */
			// 	opacity: 0.7; /* 设置透明度 */
			// 	-webkit-transition: 0.2s; /* 添加过渡效果 */
			// 	transition: opacity 0.2s;
			// 	&:hover {
			// 		opacity: 1; /* 鼠标悬停时设置不透明度为1 */
			// 	}
			// 	&::-webkit-slider-thumb {
			// 		-webkit-appearance: none; /* 隐藏默认的样式 */
			// 		appearance: none;
			// 		width: 20px; /* 设置滑块的宽度 */
			// 		height: 20px; /* 设置滑块的高度 */
			// 		border-radius: 50%; /* 设置滑块的圆角 */
			// 		background: #4caf50; /* 设置滑块的背景 */
			// 		cursor: pointer; /* 添加手形光标 */
			// 	}
			// 	&::-moz-range-thumb {
			// 		width: 20px; /* 设置滑块的宽度 */
			// 		height: 20px; /* 设置滑块的高度 */
			// 		border-radius: 50%; /* 设置滑块的圆角 */
			// 		background: #4caf50; /* 设置滑块的背景 */
			// 		cursor: pointer; /* 添加手形光标 */
			// 	}
			// }
		}
	}
}
